.page{
  display: flex;
}

.active-style{
  background: #dee4eb;
}

.side-bar{
  margin: 0 0 0 10%;
  width: 20%;
  background: #f0f1f5;
  height: 100%;
  position: fixed;
  a{
    text-decoration: none;
    color: black;
    display: block;
  }

  li{
    list-style-type: none;
    margin: 10px 10px;
    padding: 5px;
  }
}

.content{
  width: 70%;
  margin: 0 0 0 32%;
  h3{
    text-align: center;
  }

  .button-style{
    text-align: center;
    button{
      height: 40px;
      width: 160px;
      margin: 20px;
      border: none;
      a{
        text-decoration: none;
      }
    }
  }

  .delete-button{
    background: #ff6081;
  }
  .delete-button:hover{
    background: white;
    border-style: solid;
    border-color: red;
  }

  .return-button{
    background: #f1f2f6;
  }
}