@header-line-height:50px;

.header {
  background: #a8b6f5;
  line-height: @header-line-height;
  display: flex;

  h2{
    text-align: center;
    margin: 0 50px 0 0;
    width: calc(100% - 50px - 50px);
    color: white;
  }

  .icon{
    margin: 10px;
    height: 30px;
    width:  30px;
  }
}