.new-note {
  width: 60%;
  text-align: center;
  margin: 0 auto;

  h3 {
    text-align: left;
  }

  input {
    width: 100%;
    height: 30px;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  button {
    text-align: center;
    height: 40px;
    width: 160px;
    margin: 20px;
    border: none;

    a {
      text-decoration: none;
    }
  }

  .submit-button{
    background: @submit-button-color;
    color : black;
  }

  .submit-button:hover{
    background: white;
    border-style: solid;
    border-color: red;
  }

  .submit-button:disabled{
    background: @submit-button-disabled-color;
  }

  .return-button{
    background: #f1f2f6;
  }
}
@submit-button-color:#ff6081;
@submit-button-disabled-color:lighten(@submit-button-color,20%);