.page-list{
  display: flex;
  flex-wrap: wrap;
  a{
    color: white;
    text-decoration: none;
    height: 200px;
    width: 150px;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    flex-direction: column;
  }

  li{
    box-sizing: border-box;
    margin: 40px 50px 0 0;
    box-shadow: 5px 5px #d3d3d3;
    background: #fea280;
    text-align: center;
    list-style-type: none;
  }

  li:nth-child(2n){
    background: #fcd58f;
  }

  svg{
    margin: 0 auto;
    font-size: 40px;
  }

}